USE [master]
GO
/****** Object:  Database [QLLopHoc_21127229]    Script Date: 2/16/2023 11:15:27 AM ******/
CREATE DATABASE [QLLopHoc_21127229]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLGV', FILENAME = N'D:\21127229\QLGV.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLGV_log', FILENAME = N'D:\21127229\QLGV_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLLopHoc_21127229].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLLopHoc_21127229]
GO
USE [QLLopHoc_21127229]
GO
/****** Object:  Table [dbo].[GIAOVIEN]    Script Date: 2/16/2023 11:15:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIAOVIEN](
	[MAGV] [nchar](10) NOT NULL,
	[HOTEN] [nvarchar](30) NOT NULL,
	[GIOITINH] [nvarchar](10) NOT NULL,
	[NGAYSINH] [date] NOT NULL,
	[DIACHI] [nvarchar](50) NULL,
 CONSTRAINT [PK_GIAOVIEN] PRIMARY KEY CLUSTERED 
(
	[MAGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOCSINH]    Script Date: 2/16/2023 11:15:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOCSINH](
	[MAHS] [nchar](10) NOT NULL,
	[HOTEN] [nchar](30) NOT NULL,
	[GIOITINH] [nvarchar](10) NOT NULL,
	[NGAYSINH] [date] NOT NULL,
	[DIACHI] [nchar](50) NULL,
	[MALOP] [nchar](10) NULL,
 CONSTRAINT [PK_HOCSINH] PRIMARY KEY CLUSTERED 
(
	[MAHS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOPHOC]    Script Date: 2/16/2023 11:15:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOPHOC](
	[MALOP] [nchar](10) NOT NULL,
	[TENLOP] [nvarchar](20) NOT NULL,
	[NAM] [int] NOT NULL,
	[GVCN] [nchar](10) NULL,
	[LOP_TR] [nchar](10) NULL,
 CONSTRAINT [PK_LOPHOC] PRIMARY KEY CLUSTERED 
(
	[MALOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[GIAOVIEN] ([MAGV], [HOTEN], [GIOITINH], [NGAYSINH], [DIACHI]) VALUES (N'111       ', N'NGUYEN VAN B', N'NAM', CAST(N'1999-01-02' AS Date), NULL)
INSERT [dbo].[GIAOVIEN] ([MAGV], [HOTEN], [GIOITINH], [NGAYSINH], [DIACHI]) VALUES (N'123       ', N'NGUYEN VAN A', N'NU', CAST(N'1990-01-01' AS Date), NULL)
INSERT [dbo].[GIAOVIEN] ([MAGV], [HOTEN], [GIOITINH], [NGAYSINH], [DIACHI]) VALUES (N'1321      ', N'DUONG THI C', N'NU', CAST(N'1980-02-02' AS Date), NULL)
INSERT [dbo].[HOCSINH] ([MAHS], [HOTEN], [GIOITINH], [NGAYSINH], [DIACHI], [MALOP]) VALUES (N'1321231   ', N'NGUYEN THI C                  ', N'NU', CAST(N'1999-12-12' AS Date), NULL, NULL)
INSERT [dbo].[HOCSINH] ([MAHS], [HOTEN], [GIOITINH], [NGAYSINH], [DIACHI], [MALOP]) VALUES (N'21127229  ', N'DUONG TRUONG BINH             ', N'NAM', CAST(N'2003-11-11' AS Date), NULL, NULL)
INSERT [dbo].[HOCSINH] ([MAHS], [HOTEN], [GIOITINH], [NGAYSINH], [DIACHI], [MALOP]) VALUES (N'231231    ', N'NGUYEN TUAN THINH             ', N' NU', CAST(N'2000-02-02' AS Date), NULL, NULL)
INSERT [dbo].[LOPHOC] ([MALOP], [TENLOP], [NAM], [GVCN], [LOP_TR]) VALUES (N'12323     ', N'LOPMOT', 2022, NULL, NULL)
INSERT [dbo].[LOPHOC] ([MALOP], [TENLOP], [NAM], [GVCN], [LOP_TR]) VALUES (N'321564    ', N'LOPNAM', 2020, NULL, NULL)
INSERT [dbo].[LOPHOC] ([MALOP], [TENLOP], [NAM], [GVCN], [LOP_TR]) VALUES (N'45656     ', N'LOPHAI', 2022, NULL, NULL)
ALTER TABLE [dbo].[HOCSINH]  WITH CHECK ADD  CONSTRAINT [FK_HOCSINH_LOPHOC] FOREIGN KEY([MALOP])
REFERENCES [dbo].[LOPHOC] ([MALOP])
GO
ALTER TABLE [dbo].[HOCSINH] CHECK CONSTRAINT [FK_HOCSINH_LOPHOC]
GO
ALTER TABLE [dbo].[LOPHOC]  WITH CHECK ADD  CONSTRAINT [FK_LOPHOC_GIAOVIEN] FOREIGN KEY([GVCN])
REFERENCES [dbo].[GIAOVIEN] ([MAGV])
GO
ALTER TABLE [dbo].[LOPHOC] CHECK CONSTRAINT [FK_LOPHOC_GIAOVIEN]
GO
ALTER TABLE [dbo].[LOPHOC]  WITH CHECK ADD  CONSTRAINT [FK_LOPHOC_HOCSINH] FOREIGN KEY([LOP_TR])
REFERENCES [dbo].[HOCSINH] ([MAHS])
GO
ALTER TABLE [dbo].[LOPHOC] CHECK CONSTRAINT [FK_LOPHOC_HOCSINH]
GO
USE [master]
GO
